.events {
    margin-top: 7rem;
    // .events__header

    // .events__title

    &__title {
        float: left;
        font-family: "Montserrat", sans-serif;
        font-size: 2.5rem;
        color: #242565;
    }

    // .events__choice

    &__choice {
        display: flex;
        justify-content: flex-end;
        gap: 1.3rem;
    }

    // .events__input

    &__input {
        color: #1D275F;
        font-family: 'DM Sans', sans-serif;
        border: none;
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        background-color: #e3e4ee;

        &:focus{
        outline: 1px solid #b8bac2;
        }
    }
}

.events {

    // .events__card-container

    &__card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        grid-row-gap: 2.6rem; 
        grid-column-gap: 10rem; 
        margin-top: 6rem;
    }
}
.card {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    transition: 0.3s;
    border-radius: 15px;
}
.event {

    // .event__image-title

    &__image-title {
        margin-top: 1rem;
        font-family: 'DM Sans', sans-serif;
    }

    // .event__image-subtitle

    &__image-subtitle {
        margin-top: 1rem;
        color: #6A6A6A;
        font-family: 'DM Sans', sans-serif;
        font-size: 0.95rem;
    }
}

.load__button{
    margin-left: 38rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}