main{
    background: linear-gradient(156deg, #ED4690 0%, #52C 100%);
}

.banner-content-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.korean-group {
    float: left;
    transform: translateX(-20%);
    margin-top: 10rem;
}
.banner {
    background-image: url(/src/assests/banner-background.png);
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 58rem;

		// .banner__title

		&__title {
            font-size: 2.5rem;
            color: $main-color;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
		}

		// .banner__subtitle
        &__subtitle{
            margin-top: 2rem;
            color: $main-color;
            font-family: 'Montserrat', sans-serif;
        }

		// .banner__search-box-content

		&__search-box-content {
            display: flex;
            justify-content: center;

            background-color: #242565;
		}

		// .banner__search-box

		&__search-box {
            width: 290px;
            border: none;
            border-bottom: 2px solid #7778B0;
            background-color: #242565;
		}

		// .banner__search-box-item

		&__search-box-item {
		}
}
