.header__button{
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    padding: 0.7rem 2rem;
    border: 2px solid #fff;
    border-radius: 7rem;
    cursor: pointer;
}

.banner__button-ticket{
    background-color: #F5167E;
    margin-top: 2rem;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    padding: 1.4rem 3.5rem;
    font-size: 18px;
    border-radius: 7rem;
    cursor: pointer;
}

.banner__button-learn{
    margin-top: 2rem;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    padding: 1.2rem 3.5rem;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 7rem;
    cursor: pointer;
}